{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Catalog</h1>
		</div>
	</div>

	<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

	{% if items !=[] %}	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<h2>{{ item_name.item_name }}</h2>
					
					<h3>{{item_name.item_description}}</h3>

			</div>

	{% endif %}
{% endblock %}
